.mainInfo {
    top: 40%;
    position: absolute;
    margin-left: 40%;
    z-index: 30;
    text-align: center;
    background-color: floralwhite;
}

.oneThirdWidth {
    width:30%;
}

.homescreen-box {
    margin:15px;
    padding:30px;
    border: #05445a 1px solid;
    display: inline-block;
}

nav a {
    margin-left:3px;
}

